@font-face {
  font-family: "Encode Sans Condensed";
  src: url("/static/xmstests/fonts/EncodeSansCondensed-Regular.ttf");
}

body {
    font-family: 'Encode Sans Condensed', sans-serif;
}

.chart-label {
    font-size: 20px;
}
h1.detail-header {
    font-size: 25px;
    text-align: center;
}
.flex-container {
    display: flex;
    justify-content: space-evenly;
}
.flex-child {
    /* border: 1px solid yellowgreen; */
    display: flex;
    justify-content: center;
    align-items: stretch;
    margin: 5px; 
    width: 50%;
}
.dashboard-ul {
    flex-grow: 1;
}
.li-less-padding {
    padding: 2px 10px;
}
.table-ul {
    width: 50%;
    align-items: stretch;
}