{% load static %}

<!DOCTYPE html>
<html>
  <head>
    {% comment%}
      {% if not user.is_authenticated %}
        <script>
          window.location.replace("{% url 'login'%}");
        </script>
      {% endif %}
      {% endcomment %}
      <script src="{% static 'xmstests/js/jquery.slim.min.js' %}"></script>
      <script src="{% static 'xmstests/js/bootstrap.min.js' %}"></script>
      <script src="{% static 'xmstests/js/popper.min.js' %}"></script>
      <script src="{% static 'xmstests/js/Chart.min.js' %}"></script>
      <script src="{% static 'xmstests/js/sorttable.js' %}"></script>
      <script src="{% static 'xmstests/js/datepicker-full.min.js' %}"></script>
      <script src="{% static 'xmstests/js/app.js' %}"></script>
      <link rel="stylesheet" type="text/css" href="{% static 'xmstests/css/bootstrap.min.css' %}" />
      <link rel="stylesheet" type="text/css" href="{% static 'xmstests/css/bootstrap.min.css.map' %}" />
      <link rel="stylesheet" type="text/css" href="{% static 'xmstests/css/datepicker-bs4.min.css' %}" />
      <link rel="stylesheet" type="text/css" href="{% static 'xmstests/css/style.css' %}" />
      <title>XMS Report</title>
      {% block static_files %}{% endblock %}
  </head>
  <body>
      <div class="container">
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <a class="navbar-brand" href="/">XMS Reports: {{ request.session.test_amount }}</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
              <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                  <a class="nav-link dashboard-link" href="/">Dashboard<span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                  <a class="nav-link test-link" href="{% url 'tests' %}">Tests</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link item-link" href="{% url 'items' %}">Items</a>
                </li>
              </ul>
                <span class="navbar-text">
                  <a href="{% url 'logout'%}?next={{request.path}}">Logout</a>
                </span>
            </div>
          </nav>
        {% block page_content %}{% endblock %}
      </div>
  </body>
</html>