{% extends "xmstests/base.html" %}
{% load xmstests_extras %}
{% load static %}

{% block page_content %}
<script src="{% static 'xmstests/js/Dashboard.js' %}"></script>
<script>$('a.nav-link.dashboard-link')[0].className += ' active'</script>

<div class="flex-container">
        <div class="flex-child">
            <span>From </span>
            <form action="{% url 'dashboard' %}" method="POST">
                {% csrf_token %}
                <div id="dateRange">
                    <input type="text" name="start" value="{{ startDate }}">
                    <span>to</span>
                    <input type="text" name="end" value="{{ endDate }}">
                    <input type="submit" id="applyDates" class="btn btn-primary btn-sm" value="OK" />
                </div>
            </form>
        </div>
        <div class="flex-child">
            <span class="chart-label">Items by quantity</span>
        </div>
</div>

<div class="flex-container">
    <div class="flex-child">
        <canvas id="quantityChart" width="500" height="400"></canvas>
        {% include 'xmstests/chart.js' with type="horizontalBar" chart="quantityChart" labels=ch1_labels values=ch1_values colors=ch1_colors only %}
    </div>
    <div class="flex-child">
        <canvas id="itemsChart" width="500" height="400"></canvas>
        {% include 'xmstests/chart.js' with type="doughnut" chart="itemsChart" labels=ch2_labels values=ch2_values colors=ch2_colors only %}
    </div>
</div>

<div class="flex-container">
    <div class="flex-child dashboard-table">
    {% for slicer in halfs %}
        <ul class="list-group table-ul">
            {% for month, tests in tests_of_months|slice:slicer %}
                <li class="list-group-item li-less-padding">{{ month }}: 
                {% for name in tests %}
                    <div><small><a href="{% url 'test_detail' name|link_to_test %}">{{ name }}</a>{% if not forloop.last %},{% endif %}</small></div>
                {% endfor %}
            </li>
            {% endfor %}
        </ul>
    {% endfor %}
    </div>

    <div class="flex-child dashboard-table">
        {% for slicer in halfs_items %}
            <ul class="list-group dashboard-ul">
                {% for name, quantity in items_table|slice:slicer %}
                    <li class="list-group-item li-less-padding">
                        <a href="{% url 'item_detail' name %}">{{ name }}</a>: <span>{{ quantity }}m</span>
                    </li>
                {% endfor %}
            </ul>
        {% endfor %}
    </div>
</div>
{% endblock %}