{% extends "xmstests/base.html" %}
{% load xmstests_extras %}

{% block page_content %}

<form class="mt-4" action="/test/{{ name }}/" method="POST">
    {% csrf_token %}
    <div class="form-row mb-2">
        <div class="col form-group">
            <label for="name">Name</label>
            <input type="text" class="form-control form-control-sm" name="name" value={{ item.name|default:"-" }}
                disabled>
        </div>
        <div class="col form-group">
            <label for="emptyBoxWeight">Empty box weight</label>
            <input type="input" class="form-control form-control-sm" name="empty_box_weight"
                value={{ item.empty_box_weight|default:"-" }}>
        </div>
        <div class="col form-group">
            <label for="R_before_washing_in_office">Before washing in office</label>
            <input type="input" class="form-control form-control-sm" name="R_before_washing_in_office"
                value={{ item.R_before_washing_in_office|default:"-" }}>
        </div>
    </div>

    <div class="form-row mb-2">
        <div class="col form-group">
            <label for="type">Type</label>
            <input type="text" class="form-control form-control-sm" name="type" value={{ item.type|default:"-" }}>
        </div>
        <div class="col form-group">
            <label for="box_size">Box size</label>
            <input type="input" class="form-control form-control-sm" name="box_size"
                value={{ item.box_size|default:"-" }}>
        </div>
        <div class="col form-group">
            <label for="R_after_5_washing_60_degrees_in_office">After 5 washings 60°C in office</label>
            <input type="input" class="form-control form-control-sm" name="R_after_5_washing_60_degrees_in_office"
                value={{ item.R_after_5_washing_60_degrees_in_office|default:"-" }}>
        </div>
    </div>

    <div class="form-row mb-2">
        <div class="col form-group">
            <label for="quantity">Quantity</label>
            <input type="text" class="form-control form-control-sm" name="quantity"
                value={{ item.quantity|default:"-" }}>
        </div>
        <div class="col form-group">
            <label for="full_box_weight">Full box weight</label>
            <input type="input" class="form-control form-control-sm" name="full_box_weight"
                value={{ item.full_box_weight|default:"-" }}>
        </div>
        <div class="col form-group">
            <label for="R_before_washing_at_factory">Before washing at factory</label>
            <input type="input" class="form-control form-control-sm" name="R_before_washing_at_factory"
                value={{ item.R_before_washing_at_factory|default:"-"}}>
        </div>
    </div>

    <div class="form-row mb-2">
        <div class="col-4 form-group">
            <label for="factory">Factory</label>
            <input type="text" class="form-control form-control-sm" name="factory" value={{ item.factory|default:"-" }}>
        </div>
        <div class="col-4 ml-auto form-group">
            <label for="R_after_25_washings_60_degrees_at_factory">After 25 washings 60°C at factory</label>
            <input type="input" class="form-control form-control-sm" name="R_after_25_washings_60_degrees_at_factory"
                value={{ item.R_after_25_washings_60_degrees_at_factory|default:"-" }}>
        </div>
    </div>

    <div class="form-row mb-2">
        <div class="col-4 form-group">
            <label for="lot_number">Lot number</label>
            <input type="text" class="form-control form-control-sm" name="lot_number"
                value={{ item.lot_number|default:"-" }}>
        </div>
        <div class="col-4 ml-auto form-group">
            <label for="R_after_25_washings_90_degrees_at_factory">After 25 washings 90°C at factory</label>
            <input type="input" class="form-control form-control-sm" name="R_after_25_washings_90_degrees_at_factory"
                value={{ item.R_after_25_washings_90_degrees_at_factory|default:"-" }}>
        </div>
    </div>

    <div class="form-row mb-2">
        <div class="col-4 form-group">
            <label for="width">Width</label>
            <input type="text" class="form-control form-control-sm" name="width" value={{ item.width|default:"-" }}>
        </div>
        <div class="col-4 ml-auto form-group">
            <label for="R_after_50_washings_60_degrees_at_factory">After 50 washings 60°C at factory</label>
            <input type="input" class="form-control form-control-sm" name="R_after_50_washings_60_degrees_at_factory"
                value={{ item.R_after_50_washings_60_degrees_at_factory|default:"-" }}>
        </div>
    </div>

    <div class="form-row mb-2">
        <div class="col-4 form-group">
            <label for="length">Length</label>
            <input type="text" class="form-control form-control-sm" name="length" value={{ item.length|default:"-" }}>
        </div>
        <div class="col-4 ml-auto form-group">
            <label for="rolls_per_box">Rolls per Box</label>
            <input type="input" class="form-control form-control-sm" name="rolls_per_box"
                value={{ item.rolls_per_box|default:"-" }}>
        </div>
    </div>
    <div class="form-row mb-2">
        <div class="col-4 form-group">
            <label for="weight">Weight</label>
            <input type="text" class="form-control form-control-sm" name="weight" value={{ item.weight|default:"-" }}>
        </div>
    </div>
    <div class="form-row mb-2">
        <div class="col-4 form-group">
            <label for="density">Density</label>
            <input type="text" class="form-control form-control-sm" name="density" value={{ item.density|default:"-" }}>
        </div>
    </div>

    <input type="hidden" name="id" value={{ item.id }}>
    <button type="submit" class="btn btn-primary">SAVE</button>
    <a type="button" id="deleteButton" href="/item/{{ item.id }}/delete" class="float-right btn btn-danger">DELETE</a>
</form>
<script>
    const deleteButton = document.getElementById('deleteButton');
    deleteButton.addEventListener('click', (e) => {
        if (!confirm('are you sure?')) e.preventDefault();
    });
</script>
{% endblock %}