{% extends "xmstests/base.html" %}
{% load xmstests_extras %}

{% block page_content %}
<script>$('a.nav-link.item-link')[0].className += ' active'</script>

<table class="table sortable">
        <thead class="thead-light">
          <tr>
            <th scope="col">#</th>
            <th scope="col">Items</th>
            <th scope="col">Quantity
                <span id="sorttable_sortrevind">&nbsp;▴</span>
            </th>
            <th scope="col">Tests</th>
          </tr>
        </thead>
        <tbody>
          {% for item, quantity, tests in items %}
          <tr>
            <td scope="row">{{ forloop.counter }}</td>
            <td width="20%">
              <a class="test-link" href="{% url 'item_detail' item %}">{{ item }}</a>
            </td>
            <td width="20%" sorttable_customkey="{{ quantity|digit }}">
              {{ quantity }}
            </td>
            <td>
              {{ tests|draw:"test"|safe }}
            </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
{% endblock %}