{% extends "xmstests/base.html" %}
{% load xmstests_extras %}

{% block page_content %}
<div class="d-flex p-2 justify-content-center">
  <div class="p-2 flex-fill"><h1 class="detail-header">Item {{ item.name }} in tests</h1></div>
</div>

<table class="table">
  <thead class="thead-light">
    <tr>
      <th>#</th>
      <th><strong>Item:</strong> {{ item.name }}</th>
      {% for test, item in tests %}
        <th><a href="{% url 'test_detail' test.name %}">{{ test }}</a></th>
      {% endfor %}
      <th>Deviation</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>1</td>
      <td>Checking date</td>
      {% for test, item in tests %}
        <td>{{ test.checking_date|default:"-" }}</td>
      {% endfor %}
      <td>-</td>
    </tr>
    <tr>
      <td>2</td>
      <td>Lot Number</td>
      {% for test, item in tests %}
        <td>{{ item.lot_number|default:"-" }}</td>
      {% endfor %}
      <td>-</td>
    </tr>
    <tr>
      <td>3</td>
      <td>Weight</td>
      {% for test, item in tests %}
        <td>{{ item.weight|default:"-" }}</td>
      {% endfor %}
      <td>{{ item.deviation.weight|percent|default:"-" }}</td>
    </tr>
    <tr>
      <td>4</td>
      <td>Full box weight</td>
      {% for test, item in tests %}
        <td>{{ item.full_box_weight|default:"-" }}</td>
      {% endfor %}
      <td>{{ item.deviation.full_box_weight|percent|default:"-" }}</td>
    </tr>
    <tr>
      <td>5</td>
      <td>Empty box weight</td>
      {% for test, item in tests %}
        <td>{{ item.empty_box_weight|default:"-" }}</td>
      {% endfor %}
      <td>{{ item.deviation.empty_box_weight|percent|default:"-" }}</td>
    </tr>
    <tr>
      <td>6</td>
      <td>Before washing in office</td>
      {% for test, item in tests %}
        <td>{{ item.R_before_washing_in_office|default:"-" }}</td>
      {% endfor %}
      <td>{{ item.deviation.R_before_washing_in_office|percent|default:"-" }}</td>
    </tr>
    <tr>
      <td>7</td>
      <td>After 5 washings 60&deg;C in office</td>
      {% for test, item in tests %}
        <td>{{ item.R_after_5_washing_60_degrees_in_office|default:"-" }}</td>
      {% endfor %}
      <td>{{ item.deviation.R_after_5_washing_60_degrees_in_office|percent|default:"-" }}</td>
    </tr>
    <tr>
      <td>8</td>
      <td>Before washing at factory</td>
      {% for test, item in tests %}
        <td>{{ item.R_before_washing_at_factory|default:"-" }}</td>
      {% endfor %}
      <td>{{ item.deviation.R_before_washing_at_factory|percent|default:"-" }}</td>
    </tr>
    <tr>
      <td>9</td>
      <td>After 25 washings 60&deg;C at factory</td>
      {% for test, item in tests %}
        <td>{{ item.R_after_25_washings_60_degrees_at_factory|default:"-" }}</td>
      {% endfor %}
      <td>{{ item.deviation.R_after_25_washings_60_degrees_at_factory|percent|default:"-" }}</td>
    </tr>
    <tr>
      <td>10</td>
      <td>After 25 washings 90&deg;C at factory</td>
      {% for test, item in tests %}
        <td>{{ item.R_after_25_washings_90_degrees_at_factory|default:"-" }}</td>
      {% endfor %}
      <td>{{ item.deviation.R_after_25_washings_90_degrees_at_factory|percent|default:"-" }}</td>
    </tr>
    <tr>
      <td>11</td>
      <td>After 50 washings 60&deg;C at factory</td>
      {% for test, item in tests %}
        <td>{{ item.R_after_50_washings_60_degrees_at_factory|default:"-" }}</td>
      {% endfor %}
      <td>{{ item.deviation.R_after_50_washings_60_degrees_at_factory|percent|default:"-" }}</td>
    </tr>
    <tr>
      <td>12</td>
      <td>Deterioration after Wash in Office</td>
      {% for test, item in tests %}
        <td>{{ item.deterioration_after_wash_in_office|percent|default:"-" }}</td>
      {% endfor %}
      <td>{{ item.deviation.deterioration_after_wash_in_office|percent|default:"-" }}</td>
    </tr>
    <tr>
      <td>13</td>
      <td>Deterioration after Wash at Factory</td>
      {% for test, item in tests %}
        <td>{{ item.deterioration_after_wash_at_factory|percent|default:"-" }}</td>
      {% endfor %}
      <td>{{ item.deviation.deterioration_after_wash_at_factory|percent|default:"-" }}</td>
    </tr>
  </tbody>
</table>
{% endblock %}
