{% extends "xmstests/base.html" %}

{% block page_content %}
<script>$('a.nav-link.test-link')[0].className += ' active'</script>
<div class="d-flex p-2 justify-content-center">
  <div class="p-2 flex-fill"><h3>Test: {{ test.name }}</h1> <sup style="color: crimson;">updated: {{ test.updated_at }}</sup></div>
  <div class="p-2 flex-fill"><h3>Checking Date: {{ test.checking_date }}</h3></div>
  <div class="p-2 flex-fill"><a href="https://xmtextiles.bitrix24.eu/company/personal/user/35/tasks/task/view/{{ test.taskId }}/" target="_blank">Bitrix24 task</a></div>
</div>

<div class="accordion" id="accordion">
  {% for item in items %}
  <div class="card">
    <div class="card-header" id="heading{{ item.id }}">
      <div class="d-flex justify-content-between">
        <button class="btn btn-link {% if not forloop.first %}collapsed{% endif %}" type="button" data-toggle="collapse" data-target="#collapse{{ item.id }}" aria-expanded="true" aria-controls="collapse{{ item.id }}">
          Item: {{ item.name|default:"-" }}
        </button>
        <a class="pt-2" href="edit/?item={{ item.id }}">Edit</a>
      </div>
    </div>

    <div id="collapse{{ item.id }}" class="collapse {% if forloop.first %}show{% endif %}" aria-labelledby="heading{{ item.id }}" data-parent="#accordion">
      <div class="card-body">
        <table class="table">
          <tr>
            <td>
              <table class="table table-borderless">
                <tr>
                  <td>Name</td>
                  <td>{{ item.name|default:"-" }}</td>
                </tr>
                <tr>
                  <td>Type</td>
                  <td>{{ item.type|default:"-" }}</td>
                </tr>
                <tr>
                  <td>Quantity</td>
                  <td>{{ item.quantity|add:"0"|default:"-" }}</td>
                </tr>
                <tr>
                  <td>Factory</td>
                  <td>{{ item.factory|default:"-" }}</td>
                </tr>
                <tr>
                  <td>Lot Number</td>
                  <td>{{ item.lot_number|default:"-" }}</td>
                </tr>
                <tr>
                  <td>Width</td>
                  <td>{{ item.width|default:"-" }}</td>
                </tr>
                <tr>
                  <td>Length</td>
                  <td>{{ item.length|default:"-" }}</td>
                </tr>
                <tr>
                  <td>Weight</td>
                  <td>{{ item.weight|default:"-" }}</td>
                </tr>
                <tr>
                  <td>Density</td>
                  <td>{{ item.density|default:"-" }}</td>
                </tr>
              </table>
            </td>
            <td>
              <table class="table table-borderless">
                  <tr>
                    <td>Empty box weight</td>
                    <td>{{ item.empty_box_weight|default:"-" }}</td>
                  </tr>
                  <tr>
                    <td>Box size</td>
                    <td>{{ item.box_size|default:"-" }}</td>
                  </tr>
                  <tr>
                    <td>Full box weight</td>
                    <td>{{ item.full_box_weight|default:"-" }}</td>
                </tr>
              </table>
            </td>
            <td>
              <table class="table table-borderless">
                <tr>
                  <td>Before washing in office</td>
                  <td>{{ item.R_before_washing_in_office|default:"-" }}</td>
                </tr>
                <tr>
                  <td>After 5 washings 60&deg;C in office</td>
                  <td>{{ item.R_after_5_washing_60_degrees_in_office|default:"-" }}</td>
                </tr>
                <tr>
                  <td>Before washing at factory</td>
                  <td>{{ item.R_before_washing_at_factory|default:"-" }}</td>
                </tr>
                <tr>
                  <td>After 25 washings 60&deg;C at factory</td>
                  <td>{{ item.R_after_25_washings_60_degrees_at_factory|default:"-" }}</td>
                </tr>
                <tr>
                  <td>After 25 washings 90&deg;C at factory</td>
                  <td>{{ item.R_after_25_washings_90_degrees_at_factory|default:"-" }}</td>
                </tr>
                <tr>
                  <td>After 50 washings 60&deg;C at factory</td>
                  <td>{{ item.R_after_50_washings_60_degrees_at_factory|default:"-" }}</td>
                </tr>
                <tr>
                  <td>Rolls per box</td>
                  <td>{{ item.rolls_per_box|default:"-" }}</td>
                </tr>
                <tr>
                  <td style="color: crimson;">Updated</td>
                  <td style="color: crimson;">{{ item.updated_at }}</td>
                </tr>

              </table>
            </td>
          </tr>
        </table>
      </div>
    </div>
  </div>
  {% endfor %}
</div>
<div class="flex-container">
    <a href="{% url 'test_delete' test.name %}" id="delete-test" class="btn btn-sm btn-outline-danger flex-child">Delete test</a>
  </div>
{% endblock %}
