{% extends "xmstests/base.html" %}
{% load xmstests_extras %}

{% block page_content %}
<script>$('a.nav-link.test-link')[0].className += ' active'</script>

<table class="table sortable">
        <thead class="thead-light">
          <tr>
            <th scope="col">#</th>
            <th scope="col">Test</th>
            <th scope="col">Checking date
              <span id="sorttable_sortrevind">&nbsp;▴</span>
            </th>
            <th scope="col">Items</th>
          </tr>
        </thead>
        <tbody>
          {% for test in tests %}
          <tr>
            <td scope="row">{{ forloop.counter }}</td>
            <td width="20%">
              <a class="test-link" href="{% url 'test_detail' test.name %}">{{ test.name }}</a>
            </td>
            <td width="20%" sorttable_customkey="{{ test.checking_date|date:"c" }}">
              {{ test.checking_date }}
            </td>
            <td>
              {{ test.items|draw:"item"|safe }}
            </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
{% endblock %}